<header>
    <mat-toolbar class="font-weight-bold nav-bar fixed-top" [@scrollAnimation]="state">
        <mat-toolbar-row>
            <span class="ml-auto"><a routerLink="" routerLinkActive="active" mat-button
                    class="nav-link font-weight-bold">Home</a></span>
            <span><a routerLink="/resume" routerLinkActive="active" mat-button class="nav-link font-weight-bold">My
                    Resume</a></span>
            <span style="display:none">
                <a mat-button [matMenuTriggerFor]="menu" class="nav-link font-weight-bold">Portfolio</a>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item>Journals</a>
                    <a mat-menu-item>Work</a>
                </mat-menu>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>