<div class="bg-dark" style="
height: 350px;
position: relative;
"> 
    <div class="hero">
    </div>
    <div class="container">
    <div class="intro-shadow" [@flyInOut]="loaded">
                <p class="mb-0">Hi <span>&#9995;</span>,</p>
                <span class="d-inline-flex align-items-baseline"><p class="mr-2">I'm</p><h1>Anthony Oluitan</h1></span>
                <h4>Cloud Solutions Architect - Big Data / AI | DevOps | ITIL</h4>
                <a routerLink="/resume" routerLinkActive="active" mat-button
                        class="bg-white w-auto text-dark m-2 nav-link font-weight-bold">Check my resume</a>
                <!-- <div>
                    
                    <a mat-button class="bg-white m-2 text-dark nav-link font-weight-bold">Contact Me</a>
                </div> -->
    </div>
</div>
    <app-particles></app-particles>
</div>
<div class="bg-dark card-section">
    <div class="container">
    <div class="row">
        <div class=" col-md-4 col-sm-12 ">
            <mat-card class="price-list shadow bg-dark text-white-50" [@flyInOut]="onceScrolled">
                <mat-card-title class="text-center d-flex flex-column justify-content-center align-items-center">
                    <mat-icon fontSet="far" class="fa-2x shadow" fontIcon="fa-compass"></mat-icon>
                </mat-card-title>
                <mat-card-content class="middle-card-content">
                    <p class="h4">Vision</p>
                    My vision is to enhance the inner and outer well-being of my community, I take pride in delivering
                    outstanding services to humanity at large.
                </mat-card-content>

            </mat-card>
        </div>
        <div class=" col-md-4 col-sm-12 ">
            <mat-card class="price-list shadow bg-dark text-white-50" [@flyUpIn]="onceScrolled">
                <mat-card-title class="text-center d-flex flex-column justify-content-center align-items-center">
                    <mat-icon fontSet="fas" class="fa-2x shadow" fontIcon="fa-briefcase"></mat-icon>
                </mat-card-title>
                <mat-card-content class="middle-card-content">
                    <p class="h4">Mission</p>
                    My personal mission is to improve the quality of life of individuals I come across. To improve my
                    productivity for the facilitation of faster economic growth. Becoming the leading IT service
                    provider with intelligent insights that will transform socio-economic communities. My deep interest
                    in the vast and exciting world of technology is spurred by my education and work place experiences
                    over the years. I aspire to grow and continuously improve my life in every aspect, lead a balanced
                    life that positively inspires humanity.
                </mat-card-content>
            </mat-card>
        </div>
        <div class=" col-md-4 col-sm-12 ">
            <mat-card class="price-list shadow bg-dark text-white-50" [@flyOutIn]="onceScrolled">
                <mat-card-title class="text-center d-flex flex-column justify-content-center align-items-center">
                    <mat-icon fontSet="far" class="fa-2x shadow" fontIcon="fa-paper-plane"></mat-icon>
                </mat-card-title>
                <mat-card-content class="middle-card-content">
                    <p class="h4">Objective</p>
                    <ul>
                        <li><span>
                                <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>To be the best in what I
                                find myself doing
                            </span></li>
                        <li><span>
                                <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>To implement in the best
                                possible way what I find myself doing.
                            </span></li>
                        <li><span>
                                <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>To render as much service
                                to as I can to society at large
                            </span></li>
                    </ul>
                </mat-card-content>

            </mat-card>
        </div>
        <!-- <div class="container d-flex flex-md-row flex-sm-column m-auto justify-content-between">
      
      
      
  </div> -->
    </div>
</div>
</div>
<div class="stack-section bg-dark text-white" style="height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;">
    <div class="container">
        <div [className]="isFirst?'d-flex flex-column':'d-flex flex-column mt-5'" *ngFor="let techSkill of techSkills; first as isFirst">
            <h4>{{techSkill.SkillClassification}}</h4>
            <mat-chip-list class="d-flex flex-wrap">
                    <mat-chip *ngFor="let skill of techSkill.Skills">{{skill}}</mat-chip>
                  </mat-chip-list>
        </div>
    </div>
</div>
<div class="p-5 bg-dark text-white">
        <div class="container">
                <div class="row">
        <div class="col-md-6">
            <mat-card class=" bg-dark h-100 shadow text-white">
                <mat-card-content class="h-100 d-flex align-items-center justify-content-center">
                    <h3 class="text-center">
                        Contact Me
                    </h3>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="bg-white col-md-6 shadow">
            <form name="form" class="p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input matInput required placeholder="Name" name="FullName" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input matInput type="email" required placeholder="Email" name="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input matInput required placeholder="Subject" name="Subject" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <textarea matInput placeholder="Message" required rows="10" name="Body"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button mat-flat-button type="submit" (click)="sendmail()" color="primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>