<div appScrollSpyDirective [spiedTags]="['MAT-CARD']" (sectionChange)="onSectionChange($event)">
  <div class="bg-dark position-relative">
    <div class="page-name">
      <h4>My Resume</h4>
    </div>
    <div class="pt-5 pb-5 hero" style="height:40vh">
    </div>
    <div class="profile-pic-div">
      <img width="200" height="200" class="rounded-circle"
        src="/assets/Images/profilepic.jpg" />
    </div>
    <app-particles [particleStyle]="myStyle"></app-particles>
  </div>
  <div class="intro">
    <div>
      <div class="credentials">
        <mat-card class="about-me-mat-card shadow bg-dark">
          <mat-card-content class="text-white">
            <p>Anthony Oluitan</p>
            <p>I am goal driven, self-motivated and
              resourceful, with passion for achieving goals and tasks assigned in a dynamic organisation/institution.
              Over
              time, I have gained technical, business and management skills via education and work place experiences.
              I am able to work in a stimulating and challenging environment to optimise my capacity and create room for
              acquisition of new skills
            </p>
          </mat-card-content>
        </mat-card>
        <div class="scroll-section">
            <mat-card [id]="'paragraph1'" class="bg-dark text-white mt-5">
              <mat-card-title>Work History<mat-divider class="bg-white text-white"></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list *ngFor="let work of workHistory;" class=" m-2 w-100">
                    <mat-divider class="bg-white text-white"></mat-divider>
                  <mat-list-item class="text-white h-auto">
                    <h4>{{work.CompanyName}}</h4>
                  </mat-list-item>
                  <mat-divider class="bg-white text-white"></mat-divider>
                  <ng-container *ngFor="let Position of work.Positions;" >
                    <mat-list-item class="text-white h-auto">
                        <div class="d-flex justify-content-between w-100 my-2">
                          <h5>{{Position.Name}}</h5> <span>{{Position.Period}}</span>
                        </div>
                      </mat-list-item>
                      <mat-list-item class="text-white h-auto text-wrap w-100 mb-2 text-justify" *ngFor="let JobDescrption of Position.JobDescrption;">
                        <mat-icon class="mb-auto" style="font-size: medium;" matListIcon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>
                        {{JobDescrption}}}
                  </mat-list-item>
                </ng-container>
                </mat-list>
              </mat-card-content>
            </mat-card>
            <mat-card [id]="'paragraph2'" class="bg-dark text-white mt-5">
              <mat-card-title>Trainingand & Conference<mat-divider class="bg-white text-white"></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list class=" m-2 w-100">
                    <ng-container *ngFor="let train of training;" >
                  <mat-list-item class="h-auto text-white">
                    <mat-icon mat-list-icon class="h-auto w-auto"><img [src]="train.ConferenceLogo" style="width: 120px; height: 70px;"></mat-icon>
                    <h4 mat-line class="d-block w-100">{{train.Organizer}}</h4>
                    <div mat-line class="d-flex justify-content-between w-100"> 
                      <h4 class="text-wrap w-75">{{train.ConferenceName}}</h4> 
                      <p class="mr-1"> {{train.Month}} - {{train.Year}}</p>
                    </div>
                  </mat-list-item>
                  </ng-container>
                </mat-list>
              </mat-card-content>
            </mat-card>
            <mat-card [id]="'paragraph3'" class="bg-dark text-white mt-5">
              <mat-card-title>Certificate<mat-divider class="bg-white text-white"></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list class=" m-2">
                  <mat-list-item *ngFor="let cert of certification;" class="h-auto text-white">
                    <mat-icon mat-list-icon class="h-auto w-auto"><img [src]="cert.CertificateLogo" style="width: 70px; height: 70px;"></mat-icon>
                    <h2 mat-line>{{cert.OrganizatioName}}</h2>
                    <p mat-line> {{cert.CertificateName}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
            <mat-card [id]="'paragraph4'" class="bg-dark text-white mt-5">
              <mat-card-title>Education History<mat-divider class="bg-white text-white"></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list class=" m-2">
                  <mat-list-item *ngFor="let school of education;" class="h-auto text-white">
                    <mat-icon mat-list-icon class="h-auto w-auto"><img [src]="school.SchoolLogo" style="width: 170px; height: 70px;"></mat-icon>
                    <h2 mat-line>{{school.SchoolName}}</h2>
                    <p mat-line> {{school.DegreeName}}  in {{school.CourseName}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
        </div>
      </div>
      <div class="map">
        <mat-card class="bg-dark shadow">
          <mat-card-content class="">
            <mat-list role="list">
              <mat-list-item>
                <a matLine (click)="scrollTo('paragraph1')"
                  [className]="currentSection==='paragraph1'? 'text-white':'text-white-50'" role="listitem">Work History</a>
              </mat-list-item>
              <mat-list-item>
                <a matLine (click)="scrollTo('paragraph2')"
                  [className]="currentSection==='paragraph2'? 'text-white':'text-white-50'" role="listitem">Trainingand & Conference</a>
              </mat-list-item>
              <mat-list-item>
                <a matLine (click)="scrollTo('paragraph3')"
                  [className]="currentSection==='paragraph3'? 'text-white':'text-white-50'" role="listitem">Certificate</a>
              </mat-list-item>
              <mat-list-item>
                <a matLine (click)="scrollTo('paragraph4')"
                  [className]="currentSection==='paragraph4'? 'text-white':'text-white-50'" role="listitem">Education History</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>