<div appScrollSpyDirective [spiedTags]="['MAT-CARD']" (sectionChange)="onSectionChange($event)">
  <div class="bg-dark">
    <div class="page-name">
      <h4>My Resume</h4>
    </div>
    <div class="pt-5 pb-5 hero" style="height:40vh">
    </div>
    <div class="profile-pic-div">
      <img width="200" height="200" class="rounded-circle"
        src="https://media.licdn.com/dms/image/C5603AQEHFPNNFTst8A/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=DFlG4p3cR2MUlFjBoKYpCJglkOQWNNBlqS1qYcFjoes" />
    </div>
    <app-particles [particleStyle]="myStyle"></app-particles>
  </div>
  <div class="intro">
    <div>
      <div class="credentials">
        <mat-card class="about-me-mat-card shadow bg-dark">
          <mat-card-content class="text-white">
            <p>Anthony Oluitan</p>
            <p>I am goal driven, self-motivated and
              resourceful, with passion for achieving goals and tasks assigned in a dynamic organisation/institution.
              Over
              time, I have gained technical, business and management skills via education and work place experiences.
              I am able to work in a stimulating and challenging environment to optimise my capacity and create room for
              acquisition of new skills
            </p>
          </mat-card-content>
        </mat-card>
        <div class="scroll-section">
          <mat-card id="paragraph1" class="bg-dark text-white mt-5">
            <mat-card-title>Work History<mat-divider class="bg-white text-white"></mat-divider></mat-card-title>
            <mat-card-content>
              <mat-list class="border border-white m-2">
                <mat-list-item class="text-white"><h4>Sidmach technologies</h4></mat-list-item>
                <mat-list-item class="text-white"><div class="d-flex justify-content-between w-100"> <h5>Software Developer</h5> <span>June 2015 - Dec 2019</span></div></mat-list-item>
                <mat-list-item class="text-white d-flex">
                  <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon><p class="mb-2">Gather and analyse software solutions requirements</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="map">
        <mat-card class="bg-dark shadow text-white">
          <mat-card-content class="text-white">
            <mat-list role="list">
              <mat-list-item><a mat-button (click)="scrollTo('paragraph1')" [className]="currentSection==='paragraph1'? 'btn btn-success':''"
                  role="listitem">Work History</a></mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>